.nav-item {
  cursor: pointer;
}
.nav-link {
  color: #222831;
  font-weight: 700;
}
.navbar-brand {
  color: #222831;
  font-weight: 700;
}
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
