<nav
  class="navbar navbar-expand-md navbar-dark"
  style="background-color: #ea5455;"
>
  <div class="container-fluid">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
    >
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/employees"
            *ngIf="userLoggedIn | async"
            >Employees</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/orders" *ngIf="userLoggedIn | async"
            >Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/customers"
            *ngIf="userLoggedIn | async"
            >Customers</a
          >
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" routerLink="/about">AbKaNaPi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".dual-collapse2"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" outerLink="/login" *ngIf="!(userLoggedIn | async)"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="userLoggedIn | async">Welcome User</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            *ngIf="userLoggedIn | async"
            (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
